body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
}

.quiz-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

.quiz-content h1 {
    text-align: center;
    color: var(--primary-text);
    font-size: 2em;
    margin-bottom: 15px
}

.quiz-content h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.quiz-content input[type='radio'] {
    appearance: none;
    width: 15px;
    height: 15px;
    margin: 0 10px 0 0;
    border: 2px solid #ddd;
    border-radius: 50%;
    background: #fff;
    outline: none;
 }

.quiz-content input[type='checkbox'] {
    width: 15px;
    height: 15px;
    margin: 0 10px 0 0;
    accent-color: #ddd;
}

.quiz-content input[type='radio']:checked {
    background-color: var(--button-bg);
}

.quiz-content input[type='checkbox']:checked {
    accent-color: var(--button-bg);
}

.quiz-content input[type='radio']:checked + label,
.quiz-content input[type='checkbox']:checked + label {
    color: var(--button-bg);
}

.quiz-content label {
    font-size: 1em;
    margin-right: 15px;
}

.quiz-content select {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    background-color: #f0f8ff;
    color: #333333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    appearance: none;
    outline: none;
    cursor: pointer;
}

.quiz-content select:hover {
    background-color: #e0f0ff;
    transform: scale(1.02);
}

.quiz-content select:focus {
    background-color: #d8e8ff;
    box-shadow: 0 0 0 3px #b0d0ff;
}

.quiz-content select::-ms-expand {
    display: none;
}

.quiz-content select::after {
    content: '▼';
    font-size: 1.2em;
    color: #666666;
    position: absolute;
    right: 15px;
    pointer-events: none;
}

.quiz-content .slider-container {
    width: 100%;
    margin-top: 20px;
}

.slider {
    width: 100%;
    height: max-content;
    appearance: none;
    border: none;
    -webkit-appearance: none;
}

.slider::-webkit-slider-runnable-track {
    background-color: #ddd;
    height: 5px;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: var(--button-bg);

    margin-top: -7px;
    border-radius: 50%;
    border: 1px solid vr(--button-hover-bg);
}

.quiz-content .button-container {
    text-align: right;
    margin-top: 20px;
}

.quiz-content button {
    background-color: var(--button-bg);
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.quiz-content button:hover {
    background-color: var(--button-hover-bg);
}

.checkbox-container div {
    margin-bottom: 8px;
}

.checkbox-container label {
    margin-left: 10px
}
