.fullScreen{
    height: auto;
    margin:auto;
    text-align: center;
  }
  
  .filters {
    width: 20%; 
    height: 4000px;
    background-color: #f8f5dd;
    float: left;
  }
  
  .rightChunk{
    height: 4000px;
    float: right;
    width: 80%; 
  }
  
  
  .quiz{
    text-align: center;
    height:8%;
    padding-left: 20vh;
    padding-top: 2%;
  }
  
  .threeShows {
    height: 92%;
    background-color: #872415;
    color: #f8f5dd;
    padding-top: 5%;
  }
  
  .threeShows h2{
    text-align: center;
  }
  
  .threeShows h1{
    padding-top: 5%;
    font-size: 50px;
  }
  
  .threeShows p{
    padding: 30%;
  }
  
  .show1{
    text-align: center;
    width: 85%; 
    height: 27%;
    background-color: #141410;
    float: center;
    margin-left: 5%;
    margin-top: 10%;
  }
  .show2{
    text-align: center;
    width: 85%; 
    height: 27%;
    background-color: #141410;
    float: center;
    margin-left: 5%;
    margin-top: 10%;
  }
  .show3{
    text-align: center;
    width: 85%; 
    height: 27%;
    background-color: #141410;
    float: center;
    margin-left: 5%;
    margin-top: 10%;
  }